<% layout('layouts/boilerplate')  %>
<link rel="stylesheet" href="/css/spinner.css">
<link rel="icon" href="images/scenery-modified.png" type="image/png">


<div class="row mb-3 " id="content">
        <div class="col-6 offset-3">

                <h1 class="text-center">edit your camp</h1>
                <form action="/campground/<%= camp.id %>?_method=PUT" method="post" class="validated-form" novalidate enctype="multipart/form-data" id="campForm">
                        <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" aria-describedby="title" name="campground[title]"  value="<%= camp.title %>" required>
                                <div id="titleHelp" class="form-text">create your camp title</div>
                        </div>

                        <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input id="price" type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="campground[price]"  value="<%= camp.price %>" required>
                                        <span class="input-group-text">.00</span>
                                </div>
                        </div>
                        
                        <div class="mb-3">
                                <label for="location" class="form-label">location</label>
                                <input type="text" class="form-control" id="location" name="campground[location]"  value="<%= camp.location %>" required >
                        </div>

                        <div class="mb-3">
                                <label for="description" class="form-label">description</label>
                                <textarea type="number" class="form-control" id="description" name="campground[description]" required >  <%= camp.description %> </textarea>
                        </div>

                        <div class="mb-3">
                                <label for="imgs" class="form-label">Upload Images</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" id="imgs" name="imgs" accept="image/*" multiple>
                                    <label class="input-group-text" for="imgs">Browse</label>
                                </div>
                        </div>     
                        
                        <div class="mb-3">
                        <% camp.imgs.forEach(function (img, index) { %>

                                <!-- got img.thumbnail from ImageSchema.virtual('thumbnail') -->
                                <img src="<%= img.thumbnail%>" class="img-thumbnail" alt=""> 
                                <div class="form-check-inline">
                                        <input type="checkbox" id="image-<%=index%>" value="<%=img.filename%>" name="deleteImages[]">
                                </div>
                                <label for="image-<%=index%>">Delete?</label> 
                                <!-- each checkbox will add the value of the image to the deleteImages array -->
                        <%})%>
                        </div>
                            
                        <button type="submit" class="btn btn-success">update</button>
                </form>
                <div class="d-block">
                        <a href="/campground" class="text-center btn btn-primary mt-3">view all camp</a>
                </div>
        </div>
</div>

<%- include('../partials/spinner')%>
<script src="/javascript/showSpinner.js"></script>
    
