<% layout('layouts/boilerplate')  %>

<div id="cluster-map" class="mt-5"></div>

    <div class="container d-flex justify-content-center align-items-center mt-3 flex-wrap">

        <div>
            <h1 class="fw-bolder my-5">Recent Activity</h1>
        </div>
        <div class="row">

            <% for(let c of camp){ %>

            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card" id="form-card-index">    
                    <div class="card-body">
                        <p class="card-text" id="cart-author">by <%= c.author.username  %></p>
                        <hr>
                        <% if(c.imgs.length){ %>
                            <img src="<%= c.imgs[0].url %>" class="d-block w-100 img-fluid" alt=""> 
                            <% }else{ %> 
                            <img src="https://media.istockphoto.com/id/1354776457/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=w3OW0wX3LyiFRuDHo9A32Q0IUMtD4yjXEvQlqyYk9O4=" class="d-block w-100" alt="">
                            <% } %> 
                        <h2 class="card-title fw-bold mt-2"><%= c.title %></h2>
                        <p class="card-text text-muted mb-4"><%= c.description%></p>
                        <a href="/campground/<%=c.id%>" class="">More on <%= c.title%> &#8599;</a>
                    </div>
                </div>
            </div>

            <% } %>

        </div>
    
    </div>

    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = { features: <%- JSON.stringify(camp) %>}
    </script>
    <script src="/javascript/clusterMap.js"></script>



